/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width:80%;
  margin:0 auto;
}

/* your code */
h1{
  color: #f2f0eb;
  font-size: 40px;
}

nav{
  display: flex;
  justify-content: space-between;

}

label{
  font-weight: 600;
  font-size: 20px;
  border-radius: 0.15rem;
  padding:15px 10px 15px 10px;
  background-color: #f2f0eb;
  display: flex;
  justify-content: space-between;
}

*{
  background-color: #1e3932;
}

header{
  margin:0px;
}

.city-list div{
  background-color: #00754a;
  display:flex;
  flex-direction: column;
  margin: 10;
  align-items: flex-end;
  padding:3px
}

.city-list{
  margin-top: 15px;
  border: 1px solid white;
  border-radius: .15rem;
}